---
import Base from "../layouts/Base.astro";
---

<Base title="About Me" description="A summary about me">
  <h1>~/about me</h1>
  <br />
  <p>Add stuff about me here</p>
  <br />
  <pre>{`
  ╔══════════════════════════════╗
  ║   Louis Mercier              ║
  ║   louismercier@gmail.com     ║
  ║   github.com/Lme20           ║
  ╚══════════════════════════════╝
  `}</pre>
</Base>
